<div
class="d-flex flex-row justify-content-between align-items-center p-3 bg-white mt-4 rounded"
>
<div class="mr-1">
  <p class="date-order-user m-0">{{item.name}}</p>
</div>
<div class="d-flex flex-column align-items-center product-img">
  <img src="http://localhost:8080/{{item.image}}" alt="" />
</div>
<div>
  <h5 class="text-grey m-0">{{item.price | currency:'EGP'}}</h5>
</div>
<div class="d-flex align-items-center gap-2">
  <div class="btn edit">Edit</div>
  <div class="btn delete">Delete</div>
</div>
</div>
