<div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white mt-4 rounded">
  <div class="mr-1">
    <p class="date-order-user m-0 fs-6">{{item.date | date: 'medium'}}</p>
  </div>
  <div class="mr-1">
    <p class="date-order-user m-0 fs-6">{{item.creatorId.name}}</p>
  </div>
  <div class="d-flex align-items-center gap-2">
    <p>{{item.status}}</p>
  </div>
</div>

<div class="order-deatail-price p-3 my-2">
  <div class="row gap-5 justify-content-evenly">
    <div class="test" *ngFor="let prod of item.items">
      <div class="card mycard ">
        <img src="http://localhost:8080/{{prod.prodId.image}}" alt="" />
        <h3 class="py-3">{{prod.prodId.name}}</h3>
        <div class="price">{{prod.prodId.price | currency:'EGP'}}</div>
        <h3>{{prod.qty}}</h3>
      </div>
    </div>

  </div>

</div>
<h2 class="total-price text-end p-3" style="color:white;">{{item.totalPrice | currency:'EGP'}}</h2>