<div class="container mt-5 mb-5">
    <h1 style="color:white;font-size:35px ">Orders</h1>
    <app-uorder></app-uorder>
    <app-list-order></app-list-order>
   
    <div class="order-deatail-price d-flex p-3 gap-3">
        <div class="card" href="/menu/thisdrink">
          <img src="./137-79584.jpg" alt="" />
          <h3 class="py-3">Starbucks® Cold Brew Coffee</h3>
          <h3>1</h3>
       </div>
    </div>   
    
    <h2 class="total-price text-end p-3" style="color:white;">Total: EGP 34</h2>
  
</div>


