nav {
    z-index: 999;
}

.search {
    border: none;
    border-radius: 20px;
    padding: 10px 20px 10px 50px;

}

.btn-Conf{
    background-color: #f6eff1;
    color: black;
    border: 1px aliceblue;
    border-radius: inherit;
    font-size: 18px;
    font-weight: bold;
    width: 38% !important;
}
.menu {
    background: #5e9ebd;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 5px 6px 9px #a2a2a269;
    height: fit-content;
}

.ser {
    position: relative;
    margin-bottom: 20px;
}

.ser svg {
    position: absolute;
    color: #6c0518;
    z-index: 1;
    height: 50%;
    margin-left: 15px;
    width: 30px;
    top: 50%;
    transform: translateY(-50%);
}


.orders {
    margin-bottom: 20px;
}

.orders-details {
    background: #5e9ebd;
    color: white;
    padding: 20px;
    border: 1px solid rgb(72, 72, 72);
    border-radius: 4px;
    height: fit-content;
    box-shadow: 5px 6px 9px #a2a2a269;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.select {
    padding: 10px 20px;
    width: 50%;
}

/* input,
textarea,
select,
button {
    outline: none;
} */

textarea {
    font-size: 20px;
    padding: 20px;
    width: 100%;
}

.total-price {
    font-size: 30px;
}

@media (max-width:500px) {
    .order {
        padding: 10px;
        font-size: 16px;
        margin-bottom: 12px;
    }

    .ser {
        align-items: center;
        margin-top: 10px;
    }
   

    .order-submit {
        width: 100% !important;
      
    }

}

.latest {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.latest div {
    padding: 10px;
    position: relative;
    text-align: center;
}

.latest div img {
    width: 75%;
    aspect-ratio: 1;
    border-radius: 50%;
    display: block;
    margin-inline: auto;
}

.latest div h4 {
    color: black;
    margin-top: 10px;
}

.menu {
    background: #5e9ebd;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 5px 6px 9px #a2a2a269;
  

}
.price{
    height: 45px;
    background-color: #ddd;
    border-radius: 25%;
    padding: 7px;
    color: black;
}

.mycard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}