
   <main>
    <div class="container p-3">
      <div class="ser text-center text-md-end">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="search" class="search" placeholder="Search" />
      </div>
      <div class="row gap-4">
        <div class="col-12 col-lg-5 orders-details">
          <div class="orders">
            <div class="order d-flex gap-4">
              <div class="order-name">Hot Tea</div>
              <input type="number" />
              <i class="fa-solid fa-minus"></i>
              <div class="order-price">$1</div>
              <i class="fa-solid fa-plus"></i>
              <i class="fa-solid fa-xmark"></i>
            </div>
            <div class="order d-flex gap-4">
              <div class="order-name">Hot Coffee</div>
              <input type="number" />
              <i class="fa-solid fa-minus"></i>
              <div class="order-price">$1</div>
              <i class="fa-solid fa-plus"></i>
              <i class="fa-solid fa-xmark"></i>
            </div>
            <div class="order d-flex gap-4">
              <div class="order-name">Iced Coffee</div>
              <input type="number" />
              <i class="fa-solid fa-minus"></i>
              <div class="order-price">$1</div>
              <i class="fa-solid fa-plus"></i>
              <i class="fa-solid fa-xmark"></i>
            </div>
          </div>
          <div class="order-notes">
            <h3>Notes</h3>
            <textarea class="d-block" name="" id=""></textarea>
            <div
              class="selection d-flex justify-content-between align-items-center my-3"
            >
              <label for="room">Room: </label>
              <select id="room" name="room" class="select">
                <option value="combo">CompoBox</option>
                <option value="milk">CompoBox</option>
                <option value="lata">CompoBox</option>
              </select>
            </div>
            <div class="total-price text-center text-lg-end my-2">$25</div>
            <div
              class="order-submit btn btn-primary w-50 d-block mx-auto p-3 my-2"
            >
              Confirm
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-6 mt-5 mt-lg-0 menu">
          <h4 class="mb-3">Latest Orders</h4>
          <div class="latest d-grid gap-1">
            <div class="card" href="/menu/thisdrink">
              <img src="./137-79584.jpg" alt="" />
              <h6>Starbucks® Cold Brew Coffee</h6>
            </div>
            <div class="card" href="/menu/thisdrink">
              <img src="./137-79584.jpg" alt="" />
              <h6>Starbucks® Cold Brew Coffee</h6>
            </div>
            <div class="card" href="/menu/thisdrink">
              <img src="./137-79584.jpg" alt="" />
              <h6>Starbucks® Cold Brew Coffee</h6>
            </div>
            <div class="card" href="/menu/thisdrink">
              <img src="./137-79584.jpg" alt="" />
              <h6>Starbucks® Cold Brew Coffee</h6>
            </div>
          </div>
          <hr />
          <div class="menu-details">
            <div class="latest d-grid gap-1">
              <div class="card" href="/menu/thisdrink">
                <img src="./137-79584.jpg" alt="" />
                <h6>Starbucks® Cold Brew Coffee</h6>
              </div>
              <div class="card" href="/menu/thisdrink">
                <img src="./137-79584.jpg" alt="" />
                <h6>Starbucks® Cold Brew Coffee</h6>
              </div>

              <div class="card" href="/menu/thisdrink">
                <img src="./137-79584.jpg" alt="" />
                <h6>Starbucks® Cold Brew Coffee</h6>
              </div>
              <div class="card" href="/menu/thisdrink">
                <img src="./137-79584.jpg" alt="" />
                <h6>Starbucks® Cold Brew Coffee</h6>
              </div>
              <div class="card" href="/menu/thisdrink">
                <img src="./137-79584.jpg" alt="" />
                <h6>Starbucks® Cold Brew Coffee</h6>
              </div>
              <div class="card" href="/menu/thisdrink">
                <img src="./137-79584.jpg" alt="" />
                <h6>Starbucks® Cold Brew Coffee</h6>
              </div>
              <div class="card" href="/menu/thisdrink">
                <img src="./137-79584.jpg" alt="" />
                <h6>Starbucks® Cold Brew Coffee</h6>
              </div>
              <div class="card" href="/menu/thisdrink">
                <img src="./137-79584.jpg" alt="" />
                <h6>Starbucks® Cold Brew Coffee</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>