.label-input input:not(input[type="file"]) {
    outline: none;
    border: none;
    transition: 0.3s all;
    padding: 8px 15px;
    flex-basis: 60%;
    background-color: #eee;
}
h1{
    color: black;
    font-weight: bold;
    font-size: 35px;
}
h5{
    font-size:20px;
}

.edit {
    background-color: rgb(11, 141, 185);
    color: white;
}

.delete {
    background-color: rgb(186, 6, 36);
    color: white;
}
 label{
    font-size: 25px;
 }
.modal-content{
    background-color: white;
    border-radius: 3px;
}

.btn-add{
    /* background-color: #5e9ebd; */
    background-color: #f6eff1; background: linear-gradient(to right, #b6b281, #b88b83); color: black;
    width: 20%;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

select {
    border: none;
    transition: 0.3s all;
    flex-basis: 40%;
    padding: 8px 15px;
    background-color: #eee;
}
.btn1{
    background-color: #2204fa !important;
    border-radius: 5px !important;
   
}
.btn2{
    
    background-color: #7f0606!important;
    border-radius: 5px !important;
    
}
input:focus {
    box-shadow: inset 0 0 7px rgba(14, 13, 13, 0.758);
}

.modal-dialog{
    margin-top: 70px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background-color: #eee; */
    padding: 10px;
    width: 100%;
}

form label {
    font-size: 18px;
}

input[type="file"] {
    padding: 8px 15px;
}

@media (max-width:600px) {
    form {
        margin-inline: auto;
    }

    form label {
        font-size: 15px;
    }

    .label-input input:not(input[type="file"]) {
        padding: 8px 10px;
    }
}

@media (min-width:767px) {
    form input {
        font-size: 20px;
    }
}

form .btns input {
    background-color: var(--alt-clr-r);
    color: var(--whi-clr);
    border: 1px solid #fff;
    transition: 0.3s all ease-in;
}

form .btns input:hover {
    box-shadow: 0px 0px 5px #fff inset;
    color: white;
}
