main .container {
    position: relative;
    color: black !important;
}
h1{
    color: white;
    font-weight: bold;
    font-size: 35px;
}
h5{
    font-size:20px;
}
img {
    width: 300px;
}
.btn-add{
    background-color: #f6eff1; background: linear-gradient(to right, #b6b281, #b88b83); color: black;
    width: 20%;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.modal-dialog{
    top: 15%;
    /* margin-top: 70px; */
    /* margin-bottom: 50px; */
}

.modal.blk {
    display: block !important;
}

/* /////////////// */


main .container {
    color: white !important;


}
/* ///////////////////// */
.label-input input:not(input[type="file"]) {
    outline: none;
    border: none;
    transition: 0.3s all;
    padding: 8px 15px;
    flex-basis: 60%;
    background-color: #eee;
}

select {
    border: none;
    transition: 0.3s all;
    flex-basis: 40%;
    padding: 8px 15px;
    background-color: #eee;
}

input:focus {
    box-shadow: inset 0 0 7px rgba(0 0 0 / 40%);
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background-color: #eee; */
    padding: 10px;
    width: 100%;
}

form label {
    font-size: 18px;
}

input[type="file"] {
    padding: 8px 15px;
}

@media (max-width:600px) {
    form {
        margin-inline: auto;
    }

    form label {
        font-size: 15px;
    }

    .label-input input:not(input[type="file"]) {
        padding: 8px 10px;
    }
}

@media (min-width:767px) {
    form input {
        font-size: 20px;
    }
}

form .btns input {
    background-color: var(--alt-clr-r);
    color: var(--whi-clr);
    border: 1px solid #fff;
    transition: 0.3s all ease-in;
}

form .btns input:hover {
    box-shadow: 0px 0px 5px #fff inset;
    color: white;
}

.edit {
    background-color: rgb(11, 141, 185);
    color: white;
}

.delete {
    background-color: rgb(186, 6, 36);
    color: white;
}