<div class="d-flex justify-content-center row">
    <div class="">
        <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white mt-4 rounded">
            <div class="mr-1">
                <p class="date-order-user m-0">10 / 10 / 2022 10:35PM</p>
            </div>
            <div class="d-flex flex-column align-items-center product-details">
                Processing
            </div>
            <div>
                <h5 class="text-grey m-0">$20.00</h5>
            </div>
            <div class="d-flex align-items-center">
                <button class="btn">Cancel</button>
            </div>
        </div>
    </div>
</div>