<div class="d-flex justify-content-center row">
    <div class="">
        <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white mt-4 rounded">
            <div class="mr-1">
                <p class="date-order-user m-0">{{item.date | date:'medium'}}</p>
            </div>
            <div class="d-flex flex-column align-items-center product-details">
                {{item.status}}
            </div>
            <div>
                <h5 class="text-grey m-0">{{item.totalPrice | currency:'EGP'}}</h5>
            </div>
            <div class="d-flex align-items-center">
                <button class="btn" (click)="cancle(item._id)" [disabled]="item.status==='canceled'">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="order-deatail-price p-3 my-2">
    <div class="latest row justify-content-evenly gap-1">
        <!-- <div class="test" > -->
            <div class="card mycard " *ngFor="let prod of item.items">
                <img src="http://localhost:8080/{{prod.prodId.image}}" alt="" />
                <h3 class="">{{prod.prodId.name}}</h3>
                <div class="price">{{prod.prodId.price | currency:'EGP'}}</div>
                <h3>{{prod.qty}}</h3>
            </div>
        <!-- </div> -->
    </div>
</div>